*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color:hsl(30, 38%, 92%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.img{
    background-image: url(image-product-desktop.jpg);
    height: 350px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
   display: flex;
   background-color:  white;
  border-radius: 0px 10px 10px 0px;
 
}
.content{
    width: 480px;
   padding: 15px;
   display: flex;
    justify-content: space-around;
    flex-direction: column;
}



h1{
    line-height: 30px;
    padding-top: 15px;
}

h5{font-size: 15px;
    letter-spacing: 8px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color:  hsl(228, 12%, 48%);
}
 .actual{
    font-size: 27px;
    font-weight: 700;
    color:  hsl(158, 36%, 37%)
 
}
.previous{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    position: relative;
    bottom:7px;
    margin-left: 5px;
 
}
button{
    background-color: hsl(158, 36%, 37%);
    padding: 15px;
    color: white;
    border: none;
    border-radius: 10px;
}
@media (max-width:400px ) {
  .container{
 display: flex;
 flex-direction: column;
    width: 95%;
    border-radius: 5px;
}
.img{
    background-image: url(image-product-mobile.jpg);
    height: 300px;
    width: 100%;
    border-radius: 5px;
    
}


.content{
    height: 100%;
    width: 100%;
   
}
}



